* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #101014;
}

.accordion {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion li {
  list-style: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #24232a;
  position: relative;
  overflow: hidden;
}

.accordion li::before {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #56ffa9;
  content: "";
  top: 0;
  left: 0;
}

input[type="radio"] {
  display: none;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #56ffa9;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.accordion li label::before {
  position: absolute;
  content: "+";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


.accordion li .content{
  color: white;
  display: grid;
  grid-template-rows: 0fr;
  transition:   grid-template-rows .2s;
}
.accordion li .content> div{
  overflow: hidden;
}

.accordion input[type="radio"]:checked + label + .content{
  grid-template-rows: 1fr;

}

.accordion input[type="radio"]:checked + label::before{
  content: "-";
}